.container {
  padding: 20px;
}

.navbar {
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.link {
  margin-right: 30px; /* Adds space between links */
  font-weight: bold;  /* Makes the text bold */
}

.content {
  margin-top: 20px;
}
